*{
    margin:0;
    padding:0;
    font-size:60%;
    color:white;
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;

}
html{
    overflow-x: hidden;
}
body{
    background-color: black;

}
nav{
    background-color:rgb(17, 17, 17);
    display:flex;
    justify-content: space-between;
}

#search {
    width: 89%;
    height: 2.3em;
    padding: 0.5em 0.5em;
    border-radius: 0.4em;
    border: none;
    margin: 1.7rem 0;
    font-size: 24em;
}
#search::placeholder{
    color:rgba(128, 128, 128, 0.483);
}
nav div {
    /* width: 64%; */
    margin: 0 auto;
    display: flex;
}
nav div button {
    color: black;
    width: 75em;
    height: 73em;
    margin-top: 83em;
    border-radius: 159em;
    background-color: black;
    border: none;
    margin-left: 2em;
    margin-right: 35em;
}


.poster {
    width: 15rem;
    border-radius: 70em;
}

.backdrop {
    width: 70%;
    background-color: white;
    position: absolute;
    z-index: -1;
}
.maindesc {
    display: flex;
    position: absolute;
    width: 70%;
    margin-top: 20%;
}
.desc h2{
    font-size: 3.5rem;
}
.desc p {
    font-size: 2rem;
    color: #e0dfdf;
}
.scroll1 {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 94%;
    margin-left:2.3rem;
}
.desc{
    width:100%;
    margin-left:1%;
}
.display {
    width: 92%;
}
.overlay {
    z-index: 1;
    background-color: #000000b3;
    height: 59rem;
}
.cardside img {
    width: 29%;
    margin-right: 15em;
    border-radius: 40em;
}
.scon{
    margin-left:1rem;
}

.cardside {
    width: 91%;
    display: flex;
    margin-left: 32em;
}
#sc {
    display: flex;
    width: 39%;
    flex-direction: column;
}
#hero{
    display:flex;
}
.cardside h3 {
    font-size: 2rem;
    margin: 0.2em 0;
}
.cardside p {
    font-size: 1.8rem;
    margin: 0.2em 0;
}

.dispc {
    min-width: 22rem;
    margin: 2rem;
    margin-bottom:0;
}
.dispc img{
    width:100%;
    border-radius:2rem 2rem 0 0;
}
.dispc h4 {
    font-size: 2rem;
    text-align:center;
}
.dcon p{
    font-size:1.5rem;
}
.star {
    display: flex;
    /* text-align: center; */
    margin: 0px 9rem;
}
.dcon {
    background-color: rgb(39 38 38 / 29%);
    border-radius: 0 0em 2rem 2rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow:hidden;
}

.scroll{
    display:flex;
    overflow-x:scroll;
    overflow-y:hidden;
    width:98vw;
}
.scroll::-webkit-scrollbar {
    height:0.6vw;
  }
  .scroll1::-webkit-scrollbar {
    height:0.6vw;
  }
  .section{
    margin-top:5rem;
  }
  
  /* Track */
  .scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
  }
  .scroll1::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
  }
  
  /* Handle */
  .scroll::-webkit-scrollbar-thumb {
    background: rgb(52, 52, 52);
    border-radius: 10px;
  }
  .scroll1::-webkit-scrollbar-thumb {
    background: rgb(52, 52, 52);
    border-radius: 10px;
  }
  .section h2 {
    font-size: 2.7rem;
    margin-left: 3rem;
}
.eleme {
    font-size: 2rem;
    text-decoration: none;
    /* border: 0.1em solid white; */
    /* padding: 0px 4%; */
    /* width: 18rem; */
    height: 2em;
    margin: auto 1.1em;
    /* border-radius: 22px; */
    /* background-color: black; */
    transition: all 0.2s linear;
}
.eleme1 {
    font-size: 2rem;
    text-decoration: none;
    /* border: 0.1em solid white; */
    /* padding: 0px 4%; */
    /* width: 18rem; */
    height: 2em;
    margin: auto 1.1em;
    /* border-radius: 22px; */
    /* background-color: black; */
    transition: all 0.2s linear;
}
footer h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 7rem;
    /* color: gray; */
}
#im{
    display:flex;
    flex-direction:row;
}
.eleme:hover{
    color:red;
    font-size:2.1rem;
    border-color:red;
}



.lcard img {
    width: 20rem;
    border-radius: 39em;
}
.lcard {
    display: flex;
    margin: 4rem 8rem;
}
.lcont h1 {
    font-size: 2.5rem;
    color:red;
}
.lcont p{
    font-size:2rem;
}
.simi {
    width: 16rem;
    height: 23rem;
    border-radius: 1rem;
    margin: 1rem 1rem;
}
.link{
    transition:all 0.3s linear;
}
.link:hover{
    transform:scale(1.05);
}
.simic {
    max-width: 21rem;
    height: 22rem;
    border-radius: 1rem;
    margin: 1rem 1rem;
}
.lcont{
    display:flex;
    flex-direction:column;
    margin:auto 1rem;
}
.icont h1 {
    font-size: 2.5rem;
    color:red;
}
.icont p{
    font-size:2rem;
}
.icont{
    display:flex;
    flex-direction:column;
    margin:1rem 1rem;
}
.imdb{
    display:flex;
}

#ham {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 0;
    text-align: center;
    z-index: 1000;
    overflow-y: hidden;
    background-color: rgb(17, 17, 17);
}
.show{
    animation:sho 0.3s linear forwards;
}
iframe{
    min-height: 41rem;
    min-width: 73rem;
    margin:1rem 1rem;
    border:none;
}
#he{
    color: red;
    font-size: 2.5rem;
    margin-left: 1rem;
    display:none;
    margin-top:2rem;
}
.infoma{
    display:flex;
}
@keyframes sho{
    from{
        height:0;
    }
    to{

        height:40rem;
    }
}

.hide{
    animation:hid 0.3s linear forwards;
}
@keyframes hid{
    from{
        height:20rem;
        opacity:1;
    }
    to{
   height:0;
   opacity:0;
    }
}
.ico {
    width: 39px;
    height: 4px;
    border-radius: 32px;
    background-color: white;
    margin: 6px;
}
#holder {
    display: flex;
    flex-direction: column;
    height: 42px;
}
.tod{
    display:none;
}

@media only screen and (max-width:1284px){
    html{
        font-size:55%;
    }
    .overlay{
        height:58rem;
    }

} 
@media only screen and (max-width:1113px){
    .overlay{
 height:58rem;
    }}
    @media only screen and (max-width:1166px){
        .overlay{
            height:58rem;
               }
    #sc{
        display:none;
    } 
    .backdrop{
        width:100%;
        height:58rem;
    }   
    .display{
        width:100%;
    }
    .maindesc{
        width:100%;
    }
    }
    @media only screen and (max-width:1084px){
        .infoma{
            flex-direction:column;
        }
        iframe{
            min-width:0rem;
        }
        #inhe{
            display:none;
        }
        #he{
            display:block;
        }
    }
    @media only screen and (max-width:636px){
        .overlay{
            height:58rem;
               }
        .dispc{
            min-width:17rem;
            margin:1rem;
        }
        #sc{
            display:none;
        } 
        .backdrop{
            width:100%;
            height:58rem;
        }   
        .display{
            width:100%;
        }
        .maindesc{
            width:100%;
            margin-top:52%;
        }
        .desc h2 {
            font-size: 2rem;
        }
        .star {
            margin: 0 6.6rem;
        }
        .desc p {
            font-size: 1.6rem;
            color: #e0dfdf;
        }
        .section h2 {
            font-size: 2.5rem;
            margin-left: 3rem;
        }
        .dispc h4 {
            font-size: 1.7rem;
        }
        .dcon{
            height:11rem;
        }
        }

        @media only screen and (max-width:457px){
            .star {
                margin: 0 6.6rem;
            }
            .overlay{
                height:58rem;
                   }
            #sc{
                display:none;
            } 
            .dispc{
                min-width:17rem;
                margin:1rem;
            }
            .backdrop{
                width:100%;
                height:58rem;
            }   
            .display{
                width:100%;
            }
            .maindesc{
                width:100%;
                margin-top:71%;
            }
            .desc h2 {
                font-size: 2.2rem;
            }
            .desc p {
                font-size: 1.5rem;
                color: #e0dfdf;
            }
            .section h2 {
                font-size: 2.3rem;
                margin-left: 3rem;
            }
            .dispc h4 {
                font-size: 1.7rem;
            }
            }


            @media only screen and (max-width:975px){
                .lcont h1 {
                    font-size: 3rem;
                    color: red;
                }
                .lcont p {
                    font-size: 2.2rem;
                }
                .icont h1 {
                    font-size: 3rem;
                    color: red;
                }
                .icont p {
                    font-size: 2.2rem;
                }
                .lcard img {
                    width: 24rem;
                    border-radius: 39em;
                }
            }
            
            @media only screen and (max-width:828px){
                .lcont h1 {
                    font-size: 2.7rem;
                    color: red;
                }
                .lcont p {
                    font-size: 2rem;
                }
                .icont h1 {
                    font-size: 2.7rem;
                    color: red;
                }
                .icont p {
                    font-size: 2rem;
                }
                .lcard img {
                    width: 24rem;
                    border-radius: 39em;
                }
            }

            @media only screen and (max-width:768px){
                .eleme{
                    display:none;
                }
                .lcard {
                    display: flex;
                    flex-direction:row;
                    margin: 8rem 2rem;
                }
                .lcard img {
                    width: 20rem;
                    border-radius: 39em;
                    margin: 0 auto;
                }
                .lcont h1 {
                    font-size: 2rem;
                    color: red;
                }
                .lcont p {
                    font-size: 1.7rem;
                }
                .icont h1 {
                    font-size: 2rem;
                    color: red;
                }
                .icont p {
                    font-size: 1.7rem;
                }
                .imdb {
                    display: flex;
                    margin: 0 auto;
                }
                .tod {
                    display: block;
                    margin: auto 0;
                }
            }

            @media only screen and (max-width:583px){
                .lcard {
                    flex-direction: row;
                    margin-left: 1rem;
                    margin-right: 1rem;
                    margin-top:4rem;
                    margin-bottom:6rem;
                }
                .lcard img {
                    min-width: 17rem;
                    border-radius: 15em;
                    margin: 0 auto;
                    height: 26rem;
                }
                .lcont h1 {
                    font-size: 2.2rem;
                    color: red;
                }
                .lcont p {
                    font-size: 1.9rem;
                }
                .icont h1 {
                    font-size: 2.2rem;
                    color: red;
                }
                .icont p {
                    font-size: 1.9rem;
                }
                .imdb {
                    display: flex;
                    margin: 0 auto;
                }
            }

